* {
	margin:0px;
	padding:0px;
}
.fa{
	display: block;
}

.fondo {
	background-image: url("../image/blue.png");
	height:300px;
	background-size: cover;
	background-position: center;
}
.transparencia{
	width: 300px;
    height: 200px;
    background-color: rgba(3, 127, 153, 0.7);
    margin-left: 27px;
    margin-top:-280px;
 
}

.uno{
	color:white;
	margin-left: 128px;
	padding-top: 30px;
	font-family: 'Bad Script', cursive;
	font-size: 60px;


}
 .dos {
 	color: white;
 	margin-left: 111px;
 	font-family: 'Bad Script', cursive;
 	font-size: 60px;
 	margin-top: -45px;
 	display: block;
 }



/* clase menu hamburguesa sin js*/
.menu {
	background-color:#01DFD7;
	height: 60px;
	margin-top: 34px;
	} 

.boton {

	display: block;
	width: 40px;
	height: 22px;
	padding: 10px;
	border-radius: 7px;
	background: #1f8aa9;
	color: white;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
}
 
.boton span {
	display: block;
	width: 40px;
	height: 1px;
	background: white;
	margin-top:5px;
}
 
label {  
  cursor: pointer;
}
#menu-toggle {
  display: none; 
}
#menu {
  display: none;
  text-align: center;
  padding:10px 0;
  margin-top: 8px;
}
 
#menu li a {
	color: white;
	padding: 10px 0;
	display: block;
}
#menu-toggle:checked + #menu {
  display: block;
}

.barcos {
height: 60px;
background-color:#1f8aa9;

}
.tattoo{
	height: 60px;
	background:#01DFD7;
	display: block;
}
.sirenas{
	background-color:#2E9AFE;
	height: 60px;
}
.tesoros{
	height: 60px;
	background-color: #045FB4;
}
.ron {
	height: 60px;
	background-color: #1f8aa9;
}
.ballenas{
	height: 60px;
	background-color: #01DFD7;
}
.fa-anchor, .fa-tint, .fa-heart,.fa-map, .fa-smile {
	color: white;
	display: block;
}

span i{
	border-right: 50%;

}


/*MEDIA QUERY*/
@media(min-width: 400px){
	#menu-toggle {
  display:none; 
}
.boton{
	visibility: visible;
}
#menu li a {
    color: white;
    padding: 10px 0;
    display: block;
}

}
@media (min-width:700px){
	#menu{
	margin-left: 65px;
}
 #menu ul {
  visibility: visible;
  display: inline-block;
  text-align: center;
  background: white;
  padding:10px 0;
  height: 200px;
}
.menu{
	visibility: hidden;
}
.boton{
	visibility: hidden;
}
#menu-toggle {
	visibility: hidden;
}

.transparencia{
	width: 640px;
    height: 258px;
    background-color: rgba(3, 127, 153, 0.7);
    margin-left: 27px;
    margin-top:-292px;
}
.uno, .dos {
	margin-left: 300px; 
	font-family: 'Bad Script', cursive;
	font-size:60px;
}
.dos{
	margin-left: 280px;
}
#menu {
    display: block;
    text-align: center;
    background: white;
    padding: 10px 0;
    visibility: visible;
}
ul li {
	display: block;
	float: left;
	width: 300px;
	display: block;
}
 
#menu li a {
	color: white;
	padding: 10px 0;
	display: block;
}
/*ul li ,.barcos,.sirenas,.ron{
	margin-left: 100px;
}*/

}
@media (min-width:1024px){
#menu{
	margin-left: 50px;
}
.transparencia{
	width: 1195px;
    height: 245px;
    background-color: rgba(3, 127, 153, 0.7);
    margin-left: 27px;
    margin-top:-280px;
}
.uno, .dos {
	margin-left: 538px; 
	font-size: 60px;
	display: inline-block;
}
.uno{
	margin-left: 563px;
}
.dos{
	margin-top: -18px;
}
ul li {
	display: block;
	float: left;
	width: 200px;
	height: 250px;
}
.fa-tint{
	display: block;
	margin-bottom: 30px;
}
}